.pokemon-screen {
  display: grid;
  grid-template-columns: 1fr 1fr;

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }

  &__title {
    font-size: 3rem;
    text-transform: capitalize;
  }

  &__stat {
    text-transform: uppercase;
  }

  &__stats {
    margin-top: 36px;
  }
}
