.grass {
  background-color: #35d32f;
}

.poison {
  background-color: #b04ec4;
}

.fire {
  background-color: #fc671a;
}

.flying {
  background-color: #93d5e8;
}

.water {
  background-color: #0083c2;
}

.bug {
  background-color: #c2d501;
}

.normal {
  background-color: #c3beb5;
}

.electric {
  background-color: #fcdc00;
}

.ground {
  background-color: #c6883d;
}

.fairy {
  background-color: #f3b1db;
}

.dark {
  background-color: #5f504d;
}

.dragon {
  background-color: #406ca9;
}

.fighting {
  background-color: #fcb600;
}

.ghost {
  background-color: #805474;
}

.ice {
  background-color: #1dc1dd;
}

.rock {
  background-color: #cbc594;
}

.steel {
  background-color: #72c3d5;
}

.psychic {
  background-color: #f16177;
}
